

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1{
	font-size: 2em !important;
	margin-bottom: 0.5em !important;
}
h1.brand{
	margin: 0 !important;
	padding: 0.1em;
	text-transform: uppercase;
	color: #fff;
}

#main {
	margin-top: 6em;
}

footer p{
	color: #000;
}













